bin
kgs.cfg
etc/cgwb.ini
sys.cfg
var
etc/init.d
etc/cwgb.ini
seleniums
tags.python
sys
eggs
develop-eggs
.minitage
*pyc
.*.cfg
cgwb.env
parts
src.others
*.egg-info
src/collective.generic.devmode/
src/collective.generic.skel/
src/minitage.paste
src/minitage.paste.old/

