/.project
/.pydevproject
/bin
cgwb-eggs.tar.gz
etc/generated-kgs.cfg
kgs.cfg
etc/cgwb.ini
var
etc/init.d
etc/cwgb.ini
seleniums
tags.python
eggs
develop-eggs
.minitage
*pyc
.*.cfg
cgwb.env
parts
src.others
*.egg-info
/src/collective.generic.devmode/
/src/collective.generic.skel/
/src/minitage.paste
/src/minitage.paste.old/
gen_path
/src/collective/generic/webbuilder/templates/static_dev/bower_components
/lib
/include

