[buildout]
package-extras = [test]
package-name = foo.bar.myotheregg
develop = .
parts +=
    omelette
    zopepy
    test
    coverage
    report
    report-xml
extensions =
    mr.developer
    buildout.dumppickedversions
common-eggs =
    PIL
    ipython
    bpython
    plone.reload
test-eggs =
    ${buildout:package-name} ${buildout:package-extras}

[instance]
http-address = localhost:8081
eggs =
    ${buildout:common-eggs}
    ${buildout:package-name}
extra-paths =

[zopepy]
recipe=zc.recipe.egg
eggs = ${instance:eggs}
extra-paths = ${instance:extra-paths}
interpreter = zopepy
scripts =

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '-s', '${buildout:package-name}']
eggs =
    ${buildout:common-eggs}
    ${buildout:test-eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
include = '--source=${buildout:directory}/src'
sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--xml']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
sys.argv = sys.argv[:] + ['html', '-i']

[report-xml]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report-xml
initialization =
sys.argv = sys.argv[:] + ['xml', '-i']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
#packages = ./

[versions]
# with_ploneproduct_dexterity
plone.autoform = 1.1
plone.rfc822 = 1.0
plone.supermodel = 1.0.3
uuid = 1.30
z3c.batching = 1.1.0
z3c.relationfield = 0.6.1
# with_ploneproduct_cgallery
collective.gallery = 1.1
collective.js.galleriffic = 1.0
flickrapi = 1.4.2
gdata = 2.0.17
# with_ploneproduct_ldap
Products.LDAPMultiPlugins = 1.12
Products.LDAPUserFolder = 2.18
Products.PloneLDAP = 1.1
plone.app.ldap = 1.2.4
# with_ploneproduct_cz3cformnorobots
collective.z3cform.norobots = 1.2.1

# never ever pin paste and other eggs

Paste =
PasteDeploy =
PasteScript =
ZopeSkel =
distribute =






