[buildout]
package-extras = [test]
package-name = plonetest
develop = .
parts +=
    omelette
    zopepy
    test
    coverage
    test-scripts
    report
    report-html
    report-annotate
    report-xml
extensions =
    mr.developer
    buildout.dumppickedversions
common-eggs =
    PIL
    ipython
    bpython
    plone.reload
test-eggs =
    ${buildout:package-name} ${buildout:package-extras}

[instance]
http-address = localhost:8081
eggs =
    ${buildout:common-eggs}
    ${buildout:package-name}
extra-paths =

[zopepy]
recipe=zc.recipe.egg
eggs = ${instance:eggs}
extra-paths = ${instance:extra-paths}
interpreter = zopepy
scripts =

[test]
recipe = zc.recipe.testrunner
defaults = ['-v', '-s', '${buildout:package-name}']
eggs =
    ${buildout:common-eggs}
    ${buildout:test-eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage
initialization =
    include = '--source=${buildout:directory}/src'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all']

[report]
<=coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['report', '-i']

[report-html]
<=coverage
scripts = coverage=report-html
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']

[report-xml]
<=coverage
scripts = coverage=report-xml
initialization =
    sys.argv = sys.argv[:] + ['xml', '-i']

[report-annotate]
<=coverage
scripts = coverage=report-annotate
initialization =
    sys.argv = sys.argv[:] + ['annotate', '-i']

[test-scripts]
<=zopepy
interpreter=zopepy.test
env-file=test.env
eggs=
    ${buildout:test-eggs} 
    ${zopepy:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
#packages = ./

[versions]
# with_ploneproduct_dexterity
plone.autoform = 1.1
plone.rfc822 = 1.0
plone.supermodel = 1.0.3
uuid = 1.30
z3c.batching = 1.1.0
z3c.relationfield = 0.6.1

# never ever pin paste and other eggs

Paste =
PasteDeploy =
PasteScript =
ZopeSkel =
distribute =






